.HomePage {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 24rem;
}

.HomePage h5 {
  text-shadow: 1px 1px 8px #242424;
}

@media screen and (max-width: 480px) {
  .HomePage {
    width: 20rem;
  }

  .HomePage h5 {
    font-size: 0.9rem;
    text-shadow: 1px 1px 8px #242424;
  }
}
