.DonationForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.DonationForm input {
  width: 75%;
}

@media screen and (max-width: 480px) {
  .DonationForm input {
    width: 70%;
  }
}
