#root {
  margin: 0 auto;
}

div,
article,
section,
footer {
  margin: 0 auto;
}

form div {
  margin: 1rem 0;
}

button {
  margin: 0;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-image: linear-gradient(180deg, green, darkgreen);
  border: 1px solid green;
  color: whitesmoke;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  outline: none;
}

button:disabled {
  background-image: none;
  background-color: silver;
  border: 1px solid silver;
  cursor: default;
}

button:hover:enabled {
  background-image: linear-gradient(180deg, rgb(32, 128, 32), green);
}

input {
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: #242424;
  color: whitesmoke;
  border: 1px solid #323232;
  font-size: 0.9rem;
  font-weight: normal;
  outline: none;
}

input:focus {
  border-color: #484848;
}

label {
  padding: 0.8rem 0.4rem;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: lightgrey;
}
