:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background-image: linear-gradient(180deg, #484848, #161616);
  color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}
